<div class="container">
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <span>RxJS Workshop</span>
    <div class="spacer"><span>Pangram</span></div>
  </div>

  <div class="content" *ngIf="stats$ | async as stats">
    <main class="main">
      <div class="widget array-original">
        <div class="sentence">
          <h2 class="spaced">Enter a sentence or phrase:
            <span class="pangram" *ngIf="stats.sentenceStats.isPangram">PANGRAM</span>
            <span class="pangram" *ngIf="stats.sentenceStats.isLipogram">LIPOGRAM</span>
          </h2>
          <textarea class="text-input"
                    *ngIf="!(stats.highlightedSentence)"
                    spellcheck="false" 
                    [value]="stats.sentenceStats.sentence"
                    (input)="inputChanged($event)"
          ></textarea>
          <div class="text-input" *ngIf="!!(stats.highlightedSentence)" [innerHtml]="stats.highlightedSentence"></div>
          <button
            class="card card-small card-secondary"
            (click)="generateNewSentence()"
            tabindex="0"
          >
            <span><strong>Generate a Sentence</strong></span>
          </button>

        </div>
      </div>

      <div class="widget array-original main-bottom">
        <h2 class="spaced">Letter Counts</h2>
        <div class="letter-aggregate-stats-container">
          <div class="letter-group aggregate-stats">
            <div class="letter-char">
              total alphas
            </div>
            <div class="letter-count">{{ stats.sentenceStats.totalAlphas }}</div>
          </div>
          <div class="letter-group aggregate-stats">
            <div class="letter-char">
              total vowels
            </div>
            <div class="letter-count">{{ stats.sentenceStats.totalVowels }}</div>
          </div>
          <div class="letter-group aggregate-stats">
            <div class="letter-char">
              total consonants
            </div>
            <div class="letter-count">{{ stats.sentenceStats.totalConsonants }}</div>
          </div>
        </div>
        <div class="letter-stats-container">
          <div class="letter-stats">
            <ng-container *ngFor="let letter of stats.letterStats">
              <div class="letter-group char-stats" [ngClass]="{'hoverable': letter.count, 'active': letter.char === stats.selectedChar}" (click)="letterClicked(letter)">
                <div class="letter-char" 
                      [ngClass]="{'lipogram': stats.sentenceStats.isLipogram && letter.char === stats.sentenceStats.lipogramLetter}"
                >{{ letter.char }}</div>
                <div class="letter-count"
                      [ngClass]="{'highest-count': letter.hasHighestCount}"
                >{{ letter.count }}</div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>